<mat-toolbar color="primary">
    <div class="container">
        Input file demo
    </div>
</mat-toolbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <pre>Configuration - fileAccept: '*', fileLimit: 4</pre>
            <input-file inputId="input-file" placeholder="Your files"></input-file>
        </div>

        <div class="col-12">
            <pre>Configuration - fileAccept: 'image/*', fileLimit: 2</pre>
            <input-file inputId="input-file" fileAccept="image/*" fileLimit="2" placeholder="My favorite album photo"></input-file>
        </div>

        <div class="col-12">
            <pre>Configuration - disabled: true</pre>
            <input-file inputId="input-file" [disabled]="true"></input-file>
        </div>

        <div class="col-12 mb-3">
            <pre class="htmlcode">Configuration - width: 100, height: 100, internalPlaceholder: '&lt;b&gt;Drag & Drop&lt;/b&gt; or &lt;b&gt;Click&lt;/b&gt; to add an element'</pre>
            In this example we want to set a specific height (500px) for our input file button. You can achieve this using a div with style height (500px) and then set <i>height: 100</i> to input-file.
            <div style="height: 500px;">
                <input-file inputId="input-file" width=100 height=100 internalPlaceholder="<b>Drag & Drop</b> or <b>Click</b> to add an element"></input-file>
            </div>
        </div>
        
    </div>
</div>